<br/><br/> <br/><br/> <br/><br/>

<h1>Sign Up</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
   <p>
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :gst %><br />
    <%= f.text_field :gst %>
  </p>
   <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
   <p>
    <%= f.label :landline %><br />
    <%= f.text_field :landline %>
  </p>
  <p>
    <%= f.label :bankname %><br />
    <%= f.text_field :bankname %>
  </p>
  <p>
    <%= f.label :branchname %><br />
    <%= f.text_field :branchcode %>
  </p>
  <p>
    <%= f.label :accountnumber %><br />
    <%= f.text_field :accountnumber %>
  </p>
  <p>
    <%= f.label :ifsccode %><br />
    <%= f.text_field :ifsccode %>
  </p>
  <p>
    <%= f.label :pan %><br />
    <%= f.text_field :pan %>
  </p>
  <p>
    <%= f.label :cin %><br />
    <%= f.text_field :cin %>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>