<section class="mbr-section mbr-section-small" id="form1-8" data-rv-view="8" style="background-color: rgb(251, 242, 190); padding-top: 6rem; padding-bottom: 6rem;">
    
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2" data-form-type="formoid">
                <%= nested_form_for @purchase do |form| %>
                <% if purchase.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

                          <ul>
                          <% purchase.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                          <% end %>
                          </ul>
                        </div>
                      <% end %>

                      <div class="form-group">
                        <%= form.text_field :GSTIN_UIN, id: :purchase_GSTIN_UIN, class: 'form-control', placeholder: 'GSTIN UIN' %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :EMAIL_ID, id: :purchase_EMAIL_ID , class: 'form-control', placeholder: 'EMAIL' %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :CIN, id: :purchase_CIN, class: 'form-control', placeholder: 'CIN' %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :TELEPHONE_NO, id: :purchase_TELEPHONE_NO, class: 'form-control', placeholder: 'TELEPHONE NO' %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :PAN, id: :purchase_PAN, class: 'form-control', placeholder: 'PAN' %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :FAX, id: :purchase_FAX, class: 'form-control', placeholder: 'FAX' %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :REVERSE_CHARGE, id: :purchase_REVERSE_CHARGE, class: 'form-control', placeholder: 'REVERSE CHARGE' %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :TRANSPORTATION_MODE, id: :purchase_TRANSPORTATION_MODE, class: 'form-control', placeholder: 'TRANSPORTATION MODE' %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :INVOICE_NO, id: :purchase_INVOICE_NO, class: 'form-control', placeholder: 'INVOICE NO' %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :VEHICLE_NO, id: :purchase_VEHICLE_NO, class: 'form-control', placeholder: 'VEHICLE NO' %>
                      </div>

                      <div class="form-group">
                        <%= form.datetime_select :INVOICE_DATE, id: :purchase_INVOICE_DATE, class: 'form-control', placeholder: 'INVOICE DATE' %>
                      </div>

                      <div class="form-group">
                        <%= form.datetime_select :DATE_OF_SUPPLY, id: :purchase_DATE_OF_SUPPLY, class: 'form-control', placeholder: 'DATE OF SUPPLY' %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :STATE, id: :purchase_STATE, class: 'form-control', placeholder: 'STATE'  %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :PLACE_OF_SUPPLY, id: :purchase_PLACE_OF_SUPPLY, class: 'form-control', placeholder: 'PLACE OF SUPPLY'  %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :STATE_CODE, id: :purchase_STATE_CODE, class: 'form-control', placeholder: 'STATE CODE'  %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :BUYER_NAME, id: :purchase_BUYER_NAME, class: 'form-control', placeholder: 'BUYER NAME'  %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :BUYER_ADDRESS, id: :purchase_BUYER_ADDRESS, class: 'form-control', placeholder: 'BUYER ADDRESS'  %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :BUYER_GSTIN_UIN, id: :purchase_BUYER_GSTIN_UIN, class: 'form-control', placeholder: 'BUYER GSTIN UIN'  %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :BUYER_CIN, id: :purchase_BUYER_CIN , class: 'form-control', placeholder: 'BUYER CIN' %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :BUYER_STATE, id: :purchase_BUYER_STATE, class: 'form-control', placeholder: 'BUYER STATE'  %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :BUYER_STATE_CODE, id: :purchase_BUYER_STATE_CODE, class: 'form-control', placeholder: 'BUYER STATE CODE'  %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :CONSIGNEE_NAME, id: :purchase_CONSIGNEE_NAME, class: 'form-control', placeholder: 'CONSIGNEE NAME'  %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :CONSIGNEE_ADDRESS, id: :purchase_CONSIGNEE_ADDRESS, class: 'form-control', placeholder: 'CONSIGNEE ADDRESS'  %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :CONSIGNEE_GSTIN_UIN, id: :purchase_CONSIGNEE_GSTIN_UIN, class: 'form-control', placeholder: 'CONSIGNEE GSTIN UIN'  %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :CONSIGNEE_CIN, id: :purchase_CONSIGNEE_CIN, class: 'form-control', placeholder: 'CONSIGNEE CIN'  %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :CONSIGNEE_STATE, id: :purchase_CONSIGNEE_STATE, class: 'form-control', placeholder: 'CONSIGNEE STATE'  %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :CONSIGNEE_STATE_CODE, id: :purchase_CONSIGNEE_STATE_CODE, class: 'form-control', placeholder: 'ONSIGNEE STATE CODE'  %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :APPLICATION_NO_FOR_REMOVAL_OF_GOODS, id: :purchase_APPLICATION_NO_FOR_REMOVAL_OF_GOODS, class: 'form-control', placeholder: 'APPLICATION NO FOR REMOVAL OF GOODS'  %>
                      </div>

                      <div class="form-group">
                        <h4>Application date for removal of goods</h4>
                        <%= form.datetime_select :APPLICATION_DATE_FOR_REMOVAL_OF_GOODS, id: :purchase_APPLICATION_DATE_FOR_REMOVAL_OF_GOODS, class: 'form-control'  %>
                      </div>

                      <div class="form-group">
                        <h4>Comments</h4>
                        <%= form.text_field :comment, id: :purchase_comment, class: 'form-control'  %>
                      </div>

                      <h2 class="mbr-section-title display-3 text-xs-center">Add Export</h2>
                       <%= form.fields_for :exports do |f| %>
                      <div class="form-group">
                        <%= f.text_field :NAME_OF_GOODS_SERVICES, class: 'form-control', placeholder: 'NAME OF GOODS SERVICES'  %>
                      </div>
                      <div class="form-group">
                        <%= f.text_field :HSNC_ACS, class: 'form-control', placeholder: 'HSNC_ACS'  %>
                      </div>
                       <div class="form-group">
                        <%= f.text_field :UQM, class: 'form-control', placeholder: 'UQM'  %>
                      </div>
                      <div class="form-group">
                        <%= f.text_field :QTY, class: 'form-control QTY', placeholder: 'QTY'  %>
                      </div>
                       <div class="form-group">
                        <%= f.text_field :RATE_P_U , class: 'form-control RATE', placeholder: 'RATE P U' %>
                      </div>
                      <div class="form-group">
                        <%= f.text_field :AMOUNT , class: 'form-control AMOUNT', placeholder: 'AMOUNT' %>
                      </div>
                       <div class="form-group">
                        <%= f.text_field :LESS_DISCOUNT_ABATEMENT , class: 'form-control', placeholder: 'LESS DISCOUNT ABATEMENT' %>
                      </div>
                      <div class="form-group">
                        <%= f.text_field :TAXABLE_AMOUNT , class: 'form-control', placeholder: 'TAXABLE AMOUNT' %>
                      </div>
                       <div class="form-group">
                        <%= f.text_field :CGST_RATE_OF_TAX , class: 'form-control CGST', placeholder: 'CGST RATE OF TAX' %>
                      </div>
                      <div class="form-group">
                        <%= f.text_field :CGST_AMT , class: 'form-control', placeholder: 'CGST AMT' %>
                      </div>
                       <div class="form-group">
                        <%= f.text_field :SGST_RATE_OF_TAX , class: 'form-control SGST', placeholder: 'SGST RATE OF TAX' %>
                      </div>
                      <div class="form-group">
                        <%= f.text_field :SGST_AMT , class: 'form-control', placeholder: 'SGST AMT'  %>
                      </div>
                       <div class="form-group">
                        <%= f.text_field :IGST_RATE_OF_TAX , class: 'form-control IGST', placeholder: 'IGST RATE OF TAX' %>
                      </div>
                      <div class="form-group">
                        <%= f.text_field :IGST_AMT , class: 'form-control', placeholder: 'IGST AMT' %>
                      </div>
                      <div class="form-group">
                        <%= f.text_field :TOTAL_AMOUNT , class: 'form-control', placeholder: 'TOTAL AMOUNT' %>
                      </div>
                      <h4><u><%= f.link_to_remove "Remove this export" %></u></h4>
                    <% end %>
                    <h4><u><%= form.link_to_add "Add a export", :exports %></u></h4>
                      <br/>
                      <h4>
                        <%= form.file_field :photo %>
                      </h4>

                      <div class="actions">
                        <%= form.submit %>
                      </div>
                    <% end %>

            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
  $( document ).ready(function() {
    $(document).on("focusout", ".RATE" , function() {
      id = $(this).attr('id').split("_")[3];
      rate = $(this).val();
      qty  = $("#purchase_exports_attributes_"+id+"_QTY").val();
      $("#purchase_exports_attributes_"+id+"_AMOUNT").val(rate*qty);
    });

    $(document).on("focusout", ".CGST" , function() {
      id = $(this).attr('id').split("_")[3];
      gst = $(this).val();
      amount  = $("#purchase_exports_attributes_"+id+"_AMOUNT").val();
      $("#purchase_exports_attributes_"+id+"_CGST_AMT").val(gst*amount/100);
    });

    $(document).on("focusout", ".SGST" , function() {
      id = $(this).attr('id').split("_")[3];
      gst = $(this).val();
      amount  = $("#purchase_exports_attributes_"+id+"_AMOUNT").val();
      $("#purchase_exports_attributes_"+id+"_SGST_AMT").val(gst*amount/100);
    });

    $(document).on("focusout", ".IGST" , function() {
      id = $(this).attr('id').split("_")[3];
      gst = $(this).val();
      amount  = $("#purchase_exports_attributes_"+id+"_AMOUNT").val();
      $("#purchase_exports_attributes_"+id+"_IGST_AMT").val(gst*amount/100);

      $("#purchase_exports_attributes_"+id+"_TOTAL_AMOUNT").val(parseInt(amount)+parseInt($("#purchase_exports_attributes_"+id+"_CGST_AMT").val())+parseInt($("#purchase_exports_attributes_"+id+"_SGST_AMT").val())+parseInt($("#purchase_exports_attributes_"+id+"_IGST_AMT").val()));
    });
  });
</script>



  