<section class="mbr-section mbr-section-small" id="form1-8" data-rv-view="8" style="background-color: rgb(251, 242, 190); padding-top: 6rem; padding-bottom: 6rem;">
    
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2" data-form-type="formoid">
                <%= nested_form_for @purchase do |form| %>
                <% if purchase.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

                          <ul>
                          <% purchase.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                          <% end %>
                          </ul>
                        </div>
                      <% end %>
                      <br/>
                      <h4>
                        <%= form.file_field :photo %>
                      </h4>

                      <div class="actions">
                        <%= form.submit %>
                      </div>
                    <% end %>

            </div>
        </div>
    </div>
</section>

