<br/><br/> <br/><br/> <br/><br/>

<section class="mbr-section mbr-section-small" id="form1-8" data-rv-view="8" style="background-color: rgb(251, 242, 190); padding-top: 6rem; padding-bottom: 6rem;">
    
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2" data-form-type="formoid">

<p id="notice"><%= notice %></p>

<p>
  <strong>Gstin uin:</strong>
  <%= @purchase.GSTIN_UIN %>
</p>

<p>
  <strong>Email id:</strong>
  <%= @purchase.EMAIL_ID %>
</p>

<p>
  <strong>Cin:</strong>
  <%= @purchase.CIN %>
</p>

<p>
  <strong>Telephone no:</strong>
  <%= @purchase.TELEPHONE_NO %>
</p>

<p>
  <strong>Pan:</strong>
  <%= @purchase.PAN %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @purchase.FAX %>
</p>

<p>
  <strong>Reverse charge:</strong>
  <%= @purchase.REVERSE_CHARGE %>
</p>

<p>
  <strong>Transportation mode:</strong>
  <%= @purchase.TRANSPORTATION_MODE %>
</p>

<p>
  <strong>Invoice no:</strong>
  <%= @purchase.INVOICE_NO %>
</p>

<p>
  <strong>Vehicle no:</strong>
  <%= @purchase.VEHICLE_NO %>
</p>

<p>
  <strong>Invoice date:</strong>
  <%= @purchase.INVOICE_DATE %>
</p>

<p>
  <strong>Date of supply:</strong>
  <%= @purchase.DATE_OF_SUPPLY %>
</p>

<p>
  <strong>State:</strong>
  <%= @purchase.STATE %>
</p>

<p>
  <strong>Place of supply:</strong>
  <%= @purchase.PLACE_OF_SUPPLY %>
</p>

<p>
  <strong>State code:</strong>
  <%= @purchase.STATE_CODE %>
</p>

<p>
  <strong>Buyer name:</strong>
  <%= @purchase.BUYER_NAME %>
</p>

<p>
  <strong>Buyer address:</strong>
  <%= @purchase.BUYER_ADDRESS %>
</p>

<p>
  <strong>Buyer gstin uin:</strong>
  <%= @purchase.BUYER_GSTIN_UIN %>
</p>

<p>
  <strong>Buyer cin:</strong>
  <%= @purchase.BUYER_CIN %>
</p>

<p>
  <strong>Buyer state:</strong>
  <%= @purchase.BUYER_STATE %>
</p>

<p>
  <strong>Buyer state code:</strong>
  <%= @purchase.BUYER_STATE_CODE %>
</p>

<p>
  <strong>Consignee name:</strong>
  <%= @purchase.CONSIGNEE_NAME %>
</p>

<p>
  <strong>Consignee address:</strong>
  <%= @purchase.CONSIGNEE_ADDRESS %>
</p>

<p>
  <strong>Consignee gstin uin:</strong>
  <%= @purchase.CONSIGNEE_GSTIN_UIN %>
</p>

<p>
  <strong>Consignee cin:</strong>
  <%= @purchase.CONSIGNEE_CIN %>
</p>

<p>
  <strong>Consignee state:</strong>
  <%= @purchase.CONSIGNEE_STATE %>
</p>

<p>
  <strong>Consignee state code:</strong>
  <%= @purchase.CONSIGNEE_STATE_CODE %>
</p>

<p>
  <strong>Application no for removal of goods:</strong>
  <%= @purchase.APPLICATION_NO_FOR_REMOVAL_OF_GOODS %>
</p>

<p>
  <strong>Application date for removal of goods:</strong>
  <%= @purchase.APPLICATION_DATE_FOR_REMOVAL_OF_GOODS %>
</p>

<p>Export Details</p>
<% @purchase.exports.each do |export| %>
  <p>
    <b>NAME_OF_GOODS_SERVICES:</b>
    <%= export.NAME_OF_GOODS_SERVICES %>
  </p>

  <p>
    <b>HSNC_ACS:</b>
    <%= export.HSNC_ACS %>
  </p>
  <p>
    <b>UQM:</b>
    <%= export.UQM %>
  </p>

  <p>
    <b>QTY:</b>
    <%= export.QTY %>
  </p>
  <p>
    <b>RATE_P_U:</b>
    <%= export.RATE_P_U %>
  </p>

  <p>
    <b>AMOUNT:</b>
    <%= export.AMOUNT %>
  </p>
  <p>
    <b>LESS_DISCOUNT_ABATEMENT:</b>
    <%= export.LESS_DISCOUNT_ABATEMENT %>
  </p>

  <p>
    <b>TAXABLE_AMOUNT:</b>
    <%= export.TAXABLE_AMOUNT %>
  </p>
  <p>
    <b>CGST_RATE_OF_TAX:</b>
    <%= export.CGST_RATE_OF_TAX %>
  </p>

  <p>
    <b>CGST_AMT:</b>
    <%= export.CGST_AMT %>
  </p>
  <p>
    <b>SGST_RATE_OF_TAX:</b>
    <%= export.SGST_RATE_OF_TAX %>
  </p>

  <p>
    <b>SGST_AMT:</b>
    <%= export.SGST_AMT %>
  </p>

   <p>
    <b>IGST_RATE_OF_TAX:</b>
    <%= export.IGST_RATE_OF_TAX %>
  </p>
  <p>
    <b>IGST_AMT:</b>
    <%= export.IGST_AMT %>
  </p>

  <p>
    <b>TOTAL_AMOUNT:</b>
    <%= export.TOTAL_AMOUNT %>
  </p>
<% end %>
<%= image_tag @purchase.photo.url(:thumb) %>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>

            </div>
        </div>
    </div>
</section>
