<section class="mbr-section mbr-section-small" id="form1-8" data-rv-view="8" style="background-color: rgb(251, 242, 190); padding-top: 6rem; padding-bottom: 6rem;">
    
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2" data-form-type="formoid">
                <%= nested_form_for @sale do |form| %>
                <% if sale.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

                          <ul>
                          <% sale.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                          <% end %>
                          </ul>
                        </div>
                      <% end %>

                      <div class="form-group">
                        <%= form.text_field :GSTIN_UIN, id: :sale_GSTIN_UIN, class: 'form-control', placeholder: 'GSTIN UIN', value: @user.gst %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :EMAIL_ID, id: :sale_EMAIL_ID , class: 'form-control', placeholder: 'EMAIL', value: @user.email %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :CIN, id: :sale_CIN, class: 'form-control', placeholder: 'CIN', value: @user.cin %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :TELEPHONE_NO, id: :sale_TELEPHONE_NO, class: 'form-control', placeholder: 'TELEPHONE NO', value: @user.phone %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :landline, id: :landline, class: 'form-control', placeholder: 'LandLine', value: @user.landline %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :PAN, id: :sale_PAN, class: 'form-control', placeholder: 'PAN', value: @user.pan %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :REVERSE_CHARGE, id: :sale_REVERSE_CHARGE, class: 'form-control', placeholder: 'REVERSE CHARGE' %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :TRANSPORTATION_MODE, id: :sale_TRANSPORTATION_MODE, class: 'form-control', placeholder: 'TRANSPORTATION MODE' %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :INVOICE_NO, id: :sale_INVOICE_NO, class: 'form-control', placeholder: 'INVOICE NO' %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :VEHICLE_NO, id: :sale_VEHICLE_NO, class: 'form-control', placeholder: 'VEHICLE NO' %>
                      </div>

                      <div class="form-group">
                        <%= form.datetime_select :INVOICE_DATE, id: :sale_INVOICE_DATE, class: 'form-control', placeholder: 'INVOICE DATE' %>
                      </div>

                      <!--<div class="form-group">
                        <%= form.datetime_select :DATE_OF_SUPPLY, id: :sale_DATE_OF_SUPPLY, class: 'form-control', placeholder: 'DATE OF SUPPLY' %>
                      </div>-->

                      <div class="form-group">
                        <%= form.text_field :PLACE_OF_SUPPLY, id: :sale_PLACE_OF_SUPPLY, class: 'form-control', placeholder: 'PLACE OF SUPPLY'  %>
                      </div>

                      <div class="form-group">
                        <%= form.select(:STATE, options_for_select([["Select State"],["Andaman and Nicobar Islands"],
["Andhra Pradesh"],
["Telagana"],
["Arunachal Pradesh"],
["Assam"],
["Bihar"],
["Chandigarh"],
["Chattisgarh"],
["Dadra and Nagar Haveli"],
["Daman and Diu"],
["Delhi"],
["Goa"],
["Gujarat"],
["Haryana"],
["Himachal Pradesh"],
["Jammu and Kashmir"],
["Jharkhand"],
["Karnataka"],
["Kerala"],
["Lakshadweep Islands"],
["Madhya Pradesh"],
["Maharashtra"],
["Manipur"],
["Meghalaya"],
["Mizoram"],
["Nagaland"],
["Odisha"],
["Pondicherry"],
["Punjab"],
["Rajasthan"],
["Sikkim"],
["Tamil Nadu"],
["Telangana"],
["Tripura"],
["Uttar Pradesh"],
["Uttarakhand"],
["West Bengal"]
                          ],class: 'form-control STATE',)) %>

                      </div>

                      <div class="form-group">

                        <%= form.text_field :STATE_CODE, id: :sale_STATE_CODE, disabled: true,class: 'form-control', placeholder: 'STATE CODE'  %>
                      </div>

                       <div class="form-group">
                        <%= form.text_field :BUYER_GSTIN_UIN, id: :purchase_BUYER_GSTIN_UIN, class: 'form-control buyergst', placeholder: 'BUYER GSTIN UIN'  %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :BUYER_NAME, id: :sale_BUYER_NAME, class: 'form-control', placeholder: 'BUYER NAME'  %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :BUYER_ADDRESS, id: :sale_BUYER_ADDRESS, class: 'form-control', placeholder: 'BUYER ADDRESS'  %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :BUYER_CIN, id: :sale_BUYER_CIN , class: 'form-control', placeholder: 'BUYER CIN' %>
                      </div>

                      <div class="form-group">
                           <%= form.select(:BUYER_STATE, options_for_select([["Select Buyer State"],["Andaman and Nicobar Islands"],
["Andhra Pradesh"],
["Telagana"],
["Arunachal Pradesh"],
["Assam"],
["Bihar"],
["Chandigarh"],
["Chattisgarh"],
["Dadra and Nagar Haveli"],
["Daman and Diu"],
["Delhi"],
["Goa"],
["Gujarat"],
["Haryana"],
["Himachal Pradesh"],
["Jammu and Kashmir"],
["Jharkhand"],
["Karnataka"],
["Kerala"],
["Lakshadweep Islands"],
["Madhya Pradesh"],
["Maharashtra"],
["Manipur"],
["Meghalaya"],
["Mizoram"],
["Nagaland"],
["Odisha"],
["Pondicherry"],
["Punjab"],
["Rajasthan"],
["Sikkim"],
["Tamil Nadu"],
["Telangana"],
["Tripura"],
["Uttar Pradesh"],
["Uttarakhand"],
["West Bengal"]
                          ],class: 'form-control STATE',)) %>



                      </div>

                      <div class="form-group">
                        <%= form.text_field :BUYER_STATE_CODE, id: :sale_BUYER_STATE_CODE , disabled: true,class: 'form-control', placeholder: 'BUYER STATE CODE'  %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :CONSIGNEE_NAME, id: :sale_CONSIGNEE_NAME, class: 'form-control', placeholder: 'CONSIGNEE NAME'  %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :CONSIGNEE_ADDRESS, id: :sale_CONSIGNEE_ADDRESS, class: 'form-control', placeholder: 'CONSIGNEE ADDRESS'  %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :CONSIGNEE_GSTIN_UIN, id: :sale_CONSIGNEE_GSTIN_UIN, class: 'form-control', placeholder: 'CONSIGNEE GSTIN UIN'  %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :CONSIGNEE_CIN, id: :sale_CONSIGNEE_CIN, class: 'form-control', placeholder: 'CONSIGNEE CIN'  %>
                      </div>

                      <div class="form-group">
                                                   <%= form.select(:CONSIGNEE_STATE, options_for_select([["Select Consignee State"],["Andaman and Nicobar Islands"],
["Andhra Pradesh"],
["Telagana"],
["Arunachal Pradesh"],
["Assam"],
["Bihar"],
["Chandigarh"],
["Chattisgarh"],
["Dadra and Nagar Haveli"],
["Daman and Diu"],
["Delhi"],
["Goa"],
["Gujarat"],
["Haryana"],
["Himachal Pradesh"],
["Jammu and Kashmir"],
["Jharkhand"],
["Karnataka"],
["Kerala"],
["Lakshadweep Islands"],
["Madhya Pradesh"],
["Maharashtra"],
["Manipur"],
["Meghalaya"],
["Mizoram"],
["Nagaland"],
["Odisha"],
["Pondicherry"],
["Punjab"],
["Rajasthan"],
["Sikkim"],
["Tamil Nadu"],
["Telangana"],
["Tripura"],
["Uttar Pradesh"],
["Uttarakhand"],
["West Bengal"]
                          ],class: 'form-control STATE',)) %>

                      </div>

                      <div class="form-group">
                        <%= form.text_field :CONSIGNEE_STATE_CODE, id: :sale_CONSIGNEE_STATE_CODE,disabled: true, class: 'form-control', placeholder: 'ONSIGNEE STATE CODE'  %>
                      </div>

                      <div class="form-group">
                        <%= form.text_field :APPLICATION_NO_FOR_REMOVAL_OF_GOODS, id: :sale_APPLICATION_NO_FOR_REMOVAL_OF_GOODS, class: 'form-control', placeholder: 'APPLICATION NO FOR REMOVAL OF GOODS'  %>
                      </div>

                      <div class="form-group">
                        <h4>Application date for removal of goods</h4>
                        <%= form.datetime_select :APPLICATION_DATE_FOR_REMOVAL_OF_GOODS, id: :sale_APPLICATION_DATE_FOR_REMOVAL_OF_GOODS, class: 'form-control'  %>
                      </div>

                       <div class="form-group">
                        <h4>Comments</h4>
                        <%= form.text_field :comment, id: :purchase_comment, class: 'form-control'  %>
                      </div>

                      <h2 class="mbr-section-title display-3 text-xs-center">Add Invoice Details</h2>
                       <%= form.fields_for :exportsales do |f| %>
                      <div class="form-group">
                        <%= f.text_field :NAME_OF_GOODS_SERVICES, class: 'form-control', placeholder: 'NAME OF GOODS SERVICES'  %>
                      </div>
                      <div class="form-group">
                        <%= f.text_area :HSNC_ACS, class: 'form-control', placeholder: 'HSNC_ACS'  %>
                      </div>
                       <div class="form-group">
                        <%= f.text_field :UQM, class: 'form-control', placeholder: 'UQM'  %>
                      </div>
                      <div class="form-group">
                        <%= f.text_area :QTY, class: 'form-control QTY', placeholder: 'QTY'  %>
                      </div>
                      <div class="form-group">
                        <%= f.text_field :gstper, class: 'form-control', placeholder: 'GST Per'  %>
                      </div>
                       <div class="form-group">
                        <%= f.text_field :RATE_P_U , class: 'form-control RATE', placeholder: 'RATE P U' %>
                      </div>
                      <div class="form-group">
                        <%= f.text_area :AMOUNT , class: 'form-control AMOUNT', placeholder: 'AMOUNT' %>
                      </div>
                       <div class="form-group">
                        <%= f.text_field :LESS_DISCOUNT_ABATEMENT , class: 'form-control', placeholder: 'LESS DISCOUNT ABATEMENT' %>
                      </div>
                      <div class="form-group">
                        <%= f.text_area :TAXABLE_AMOUNT , class: 'form-control', placeholder: 'TAXABLE AMOUNT' %>
                      </div>
                       <div class="form-group">
                        <%= f.text_field :CGST_RATE_OF_TAX , class: 'form-control CGST', placeholder: 'CGST RATE OF TAX' %>
                      </div>
                      <div class="form-group">
                        <%= f.text_area :CGST_AMT , class: 'form-control', placeholder: 'CGST AMT' %>
                      </div>
                       <div class="form-group">
                        <%= f.text_field :SGST_RATE_OF_TAX , class: 'form-control SGST', placeholder: 'SGST RATE OF TAX' %>
                      </div>
                      <div class="form-group">
                        <%= f.text_area :SGST_AMT , class: 'form-control', placeholder: 'SGST AMT'  %>
                      </div>
                       <div class="form-group">
                        <%= f.text_field :IGST_RATE_OF_TAX , class: 'form-control IGST', placeholder: 'IGST RATE OF TAX' %>
                      </div>
                      <div class="form-group">
                        <%= f.text_area :IGST_AMT , class: 'form-control', placeholder: 'IGST AMT' %>
                      </div>
                      <div class="form-group">
                        <%= f.text_area :TOTAL_AMOUNT , class: 'form-control', placeholder: 'TOTAL AMOUNT' %>
                      </div>
                       <div class="form-group">
                        <%= f.text_field :remark, class: 'form-control', placeholder: 'Remark'  %>
                      </div>
                      <h4><u><%= f.link_to_remove "Remove this export" %></u></h4>
                    <% end %>
                    <h4><u><%= form.link_to_add "Add Invoice Details", :exportsales %></u></h4>
                      <br/>
                      <h4>
                        <%= form.file_field :photo %>
                      </h4>

                      <div class="actions">
                        <%= form.submit %>
                      </div>
                    <% end %>

            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
  $( document ).ready(function() {
    $(document).on("focusout", ".RATE" , function() {
      id = $(this).attr('id').split("_")[3];
      rate = $(this).val();
      qty  = $("#sale_exportsales_attributes_"+id+"_QTY").val();
      $("#sale_exportsales_attributes_"+id+"_AMOUNT").val(rate*qty);
    });

    $(document).on("change", "#sale_STATE,#sale_BUYER_STATE,#sale_CONSIGNEE_STATE" , function() {
      var obj = {
      "Andaman and Nicobar Islands": 35,
      "Andhra Pradesh": 28,
      "Telagana": 37,
      "Arunachal Pradesh": 12,
      "Assam": 18,
      "Bihar": 10,
      "Chandigarh": 04,
      "Chattisgarh": 22,
      "Dadra and Nagar Haveli": 26,
      "Daman and Diu": 25,
      "Delhi": 07,
      "Goa": 30,
      "Gujarat": 24,
      "Haryana": 06,
      "Himachal Pradesh": 02,
      "Jammu and Kashmir": 01,
      "Jharkhand": 20,
      "Karnataka": 29,
      "Kerala": 32,
      "Lakshadweep Islands": 31,
      "Madhya Pradesh": 23,
      "Maharashtra": 27,
      "Manipur": 14,
      "Meghalaya": 17,
      "Mizoram": 15,
      "Nagaland": 13,
      "Odisha": 21,
      "Pondicherry": 34,
      "Punjab": 03,
      "Rajasthan": 08,
      "Sikkim": 11,
      "Tamil Nadu": 33,
      "Telangana": 36,
      "Tripura": 16,
      "Uttar Pradesh": 09,
      "Uttarakhand": 05,
      "West Bengal": 19
      };
      id = $(this).attr('id') + "_CODE";
      state = $(this).val();
      $("#"+id).val(obj[state]);
    });

    $(document).on("focusout", ".CGST" , function() {
      id = $(this).attr('id').split("_")[3];
      gst = $(this).val();
      less = $("#sale_exportsales_attributes_"+id+"_LESS_DISCOUNT_ABATEMENT").val();
      amount  = $("#sale_exportsales_attributes_"+id+"_AMOUNT").val();
      $("#sale_exportsales_attributes_"+id+"_CGST_AMT").val(gst*(amount-less)/100);
    });

    $(document).on("focusout", ".SGST" , function() {
      id = $(this).attr('id').split("_")[3];
      gst = $(this).val();
      less = $("#sale_exportsales_attributes_"+id+"_LESS_DISCOUNT_ABATEMENT").val();
      amount  = $("#sale_exportsales_attributes_"+id+"_AMOUNT").val();
      $("#sale_exportsales_attributes_"+id+"_SGST_AMT").val(gst*(amount-less)/100);
    });

    $(document).on("focusout", ".IGST" , function() {
      id = $(this).attr('id').split("_")[3];
      gst = $(this).val();
      amount  = $("#sale_exportsales_attributes_"+id+"_AMOUNT").val();
      less = $("#sale_exportsales_attributes_"+id+"_LESS_DISCOUNT_ABATEMENT").val();
      $("#sale_exportsales_attributes_"+id+"_IGST_AMT").val(gst*(amount-less)/100);
      $("#sale_exportsales_attributes_"+id+"_TOTAL_AMOUNT").val(parseInt(amount)-parseInt(less)+parseInt($("#sale_exportsales_attributes_"+id+"_CGST_AMT").val())+parseInt($("#sale_exportsales_attributes_"+id+"_SGST_AMT").val())+parseInt($("#sale_exportsales_attributes_"+id+"_IGST_AMT").val()));
    });

     $(document).on("focusout", ".buyergst" , function() {
       $.ajax({
          type:"GET",
          url:"buyergst",
          dataType:"json",
          data: {gst: $(this).val()},
          success:function(result){
            $("#sale_BUYER_NAME").val(result.BUYER_NAME);
            $("#sale_BUYER_ADDRESS").val(result.BUYER_ADDRESS);
            $("#sale_BUYER_CIN").val(result.BUYER_CIN);
            $("#sale_BUYER_STATE").val(result.BUYER_STATE);
            $("#sale_BUYER_STATE_CODE").val(result.BUYER_STATE_CODE);
          }
        })
    });

  });
</script>



