<br/><br/> <br/><br/> <br/><br/>
<p id="notice"><%= notice %></p>

<section class="mbr-section mbr-section-small" id="form1-8" data-rv-view="8" style="background-color: rgb(251, 242, 190); padding-top: 6rem; padding-bottom: 6rem;">
    
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2" data-form-type="formoid">


<h2 class="mbr-section-title display-3 text-xs-center">Sales</h2>

<table>
  <thead>
    <tr>
      <th width="200px">Gstin uin</th>
      <th width="200px">Email id      </th>
      <th width="200px">Telephone no  </th>
      <th width="200px">Pan           </th>
      <th width="200px">Invoice no    </th>
      <th width="300px">Invoice date  </th>
      <th width="300px">User  </th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td width="200px"><%= sale.GSTIN_UIN %></td>
        <td width="200px"><%= sale.EMAIL_ID %></td>
        <td width="200px"><%= sale.TELEPHONE_NO %></td>
        <td width="200px"><%= sale.PAN %></td>
        <td width="200px"><%= sale.INVOICE_NO %></td>
        <td width="300px"><%= sale.INVOICE_DATE %></td>
        <td width="300px"><%= current_user.email %></td>
        <td width="500px"><%= link_to "Download", download_sale_path(id: sale.id) %></td>
        <td width="200px"><%= link_to 'Show', sale %></td>
        <td width="200px"><%= link_to 'Edit', edit_sale_path(sale) %></td>
        <td width="200px"><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

 <div class="mbr-buttons--center"><a class="btn btn-lg btn-black-outline btn-black" href="sales/new"><span class="mbri-login mbr-iconfont mbr-iconfont-btn"></span>New sale</a> </div>

             </div>
        </div>
    </div>
</section>